[submodule "Payload-MCU/Drivers/can-wrapper-module"]
	path = Payload-MCU/Drivers/can-wrapper-module
	url = https://github.com/UMSATS/can-wrapper-module
[submodule "Drivers/tsat-utilities-kit"]
	path = Drivers/tsat-utilities-kit
	url = https://github.com/UMSATS/tsat-utilities-kit
[submodule "Payload-MCU/Drivers/tsat-utilities-kit"]
	path = Payload-MCU/Drivers/tsat-utilities-kit
	url = https://github.com/UMSATS/tsat-utilities-kit
